.tree-container {
  list-style: none;
  padding: 0;
}

.tree-node {
  padding: 0rem 1.25rem;
}

.tree-toggler.active {
  transform: rotate(45deg);
}

.tree-node {
  position: relative;
  cursor: pointer;
  user-select: none;
}
.tree-node.expand-item::after {
  content: '';
  width: 1px;
  min-height: calc(100% - 20px);
  background: #000;
  position: absolute;
  left: 10px;
  top: 20px;
}
.tree-node.expand-item::before,
.tree-node.collapse-item::before {
  position: absolute;
  left: 10px;
  font-size: 10px;
}
.tree-node.expand-item::before {
  content: '\276F';
  transform: rotate(90deg);
}
.tree-node.collapse-item::before {
  content: '\276F';
}
.tree-head .label {
  font-weight: 600;
}
.tree-head .value {
  color: #3F51B5;
}