section.fullScreen {
    position: fixed;
    left: 50%;
    width: 80vw;
    transform: translate(-50%, -50%);
    top: 50%;
    height: 90vh;
    box-shadow: 0 0 500px 100px #ccc;
    background-color: #fff;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

section.fullScreen .fullscreenBtn{
    position: absolute;
    right: 20px;
    z-index: 5;
}


/* .jsonEditor {
    display: inline-flex;
    gap: 10px;
    font-family: Consolas, "Courier New", Courier, monospace;
    line-height: 21px;
    background-color: #282a3a;
    border-radius: 2px;
    padding: 20px 10px;
}
textarea {
    line-height: 21px;
    overflow-y: hidden;
    padding: 0;
    border: 0;
    background: #282a3a;
    color: #fff;
    min-width: 500px;
    outline: none;
    resize: none;
    font-family: Consolas, "Courier New", Courier, monospace;
}
.numbers {
    width: 20px;
    text-align: right;
}

.numbers span {
    counter-increment: linenumber;
}

.numbers span::before {
    content: counter(linenumber);
    display: block;
    color: #506882;
} */